{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "vue/v-on-event-hyphenation": [ "never", { "autofix": false, "ignore": [] }]
  }
}